body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }
  .container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  h1 {
    font-family: "Pathway Gothic One", serif;
  }
  a {
    color: #007BFF;
    /* text-decoration: none; */
  }
  .header {
    font-size: 0.8em;
    color: #666;
    text-align: center;
    margin-top: 20px;
  }
  .footer {
    font-size: 0.8em;
    color: #666;
    text-align: center;
    margin-top: 20px;
  }
  .button {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    background-color: #fcba93;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    /* margin-top: 20px; */
  }
  .highlight {
    font-size: 20px;
  }
  .small-break {
    line-height: 0.5; 
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }