/* Reset some default styles */

html, body {
    height: 100%; /* S'assure que tout est basé sur la hauteur du viewport */
    margin: 0;
}

body {
    font-family: "Vollkorn", serif;
    font-size: 17px;
    margin: 0;
    padding: 10px;
    background-color: #fff5ef;
    line-height: 1.6;
    /* overflow: hidden; */
}

.menu-burger {
    display: none; /* Cacher sur les écrans larges */
}

@media (max-width: 768px) {
    .menu-burger {
        display: block; /* Afficher sur les écrans petits */
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1000;
    }
    .nav-column {
        display: none; /* Cacher par défaut */
        position: fixed;
        top: 0;
        left: 0;
        width: 70%; /* Largeur du menu dépliant */
        height: 100%;
        /* background-color: #f8f9fa; */
        /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); */
        z-index: 999;
    }
    .nav-column.active {
        display: block; /* Montrer quand on clique sur le bouton */
    }
    .content-column, .info-column {
        width: 100%; /* Les éléments prennent toute la largeur */
        float: none; /* Annule les effets de flottement */
    }
    .info-column {
        margin-top: 20px; /* Ajoute un espace entre les sections */
    }
}


.centered-text {
    text-align: center; /* Centre le texte horizontalement */
}

.button {
    display: inline-block;
    font-size: 16px;
    background-color: #fcba93;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
  }

.button:hover {
    background-color: #000000;
    color: #fff5ef;
}

/* Container for all columns */
.container {
    display: flex;
    justify-content: space-between;
    /* padding: 20px; */
    align-items: stretch;
    /* height: 100%; */
    overflow: scroll;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none; /* Masque les barres dans Chrome, Safari, Edge */
}

/* First column: Navigation */
.nav-column {
    width: 20%; /* Narrow column */
    /* background-color: #f4f4f4; */
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid #000000;
}

.nav-column h1 {
    font-family: "Pathway Gothic One", serif;
    font-size: 30px;
    margin-bottom: 30px;
}

.nav-column h1 a {
    text-decoration: none;
    color: #000000;
}

.nav-column h1 a:hover {
    text-decoration: underline; /* Souligner le lien au survol */
}

.nav-column nav ul {
    list-style: none;
    padding: 0;
}

.nav-column nav ul li {
    margin-bottom: 10px;
}

.nav-column nav ul li a {
    text-decoration: none;
    color: #000000;
}

.nav-column nav ul li a:hover {
    text-decoration: underline; /* Souligner le lien au survol */
}

/* Second column: Content (Widest) */
.content-column {
    margin-left: 20%; /* Décale la colonne centrale à droite de la colonne fixe */
    margin-right: 20%;
    width: 55%; /* Wider column */
    padding: 40px;
    overflow: auto;
    /* background-color: #fff; */
    /* border-right: 1px solid #000000; */
    /* border-left: 1px solid #000000; */
    /* height: 100%; */
}

.content-column h2 {
    font-family: "Pathway Gothic One", serif;
    font-size: 25px;
}

.content-column a {
    color:#000000;
}

/* Third column: About Me */
.info-column {
    width: 20%; /* Narrow column */
    position: fixed;
    top: 0;
    right: 0;
    /* background-color: #f4f4f4; */
    padding: 20px;
    height: 100%;
    overflow-y: auto;
    border-left: 1px solid #000000;
}

.info-column h3 {
    font-size: 20px;
}

.info-column img {
    width: 100%;
    height: auto;
}

form {
    width: 80%;
    max-width: 700px;
    margin: 0 auto; /* Center the form on the page */
    padding: 20px;
    border-radius: 10px;
    /* background-color: #f9f9f9; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 96.5%;
    padding: 10px;
    margin-bottom: 20px; /* Space between elements */
    margin-top: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
}

/* Specific styling for textarea */
textarea {
    height: 150px; /* Increase height for better text entry */
    resize: vertical; /* Allow users to resize vertically */
}

button[type="submit"] {
    display: block;
    font-family: "Vollkorn", serif;
    font-weight: 700;
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: #fcba93;
    /* color: white; */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #000000;
    color: #fff5ef;
}

.icon {
    color: #fcba93;
    font-size: 30px;
    text-decoration: none;
    padding: 0;
    /* transition: color 0.3s ease; */
}

.icon:hover {
    color: #000000;
}

footer{
    text-align: center;
    padding: 30px;
    margin-bottom: 40px;
}

footer p{
    margin: 0;
}